src/*.exe
src/zoom
src/zoomd
src/test_zoom
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.litecoin

# Compilation and Qt preprocessor part
*.qm
Makefile
zoom-qt
Zoom-Qt.app

# Unit-tests
Makefile.test
zoom-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build
Info
Zoom-Qt.xcodeproj
Zoom-Qt.dmg

!src/leveldb*/Makefile
