<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleIconFile</key>
	<string>zoom.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>$VERSION, Copyright © $YEAR The Zoom developers</string>
	<key>CFBundleShortVersionString</key>
	<string>$VERSION</string>
	<key>CFBundleVersion</key>
	<string>$VERSION</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>Zoom-Qt</string>
	<key>CFBundleIdentifier</key>
	<string>org.zoom.Zoom-Qt</string>
        <key>CFBundleURLTypes</key>
        <array>
          <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>org.zoom.ZoomPayment</string>
            <key>CFBundleURLSchemes</key>
            <array>
              <string>zoom</string>
            </array>
          </dict>
        </array>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
